<!doctype html>


<!-- Useful links:
- https://getbootstrap.com/docs/4.0/utilities/colors/
- https://getbootstrap.com/docs/4.0/getting-started/introduction/

-->




<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <style>
      .column {
        flex:50%;
}

/* Clear floats after the columns*/
.row:after {
  display: flex;
}
body{
  font-family: Garamond, serif;
}
    </style>


    <title>Fuck Totalitarianism</title>
  </head>
  


  <body>

    <h1 class="text-light bg-dark">Best TECH blog ever!!!</h1>

    <div name="page" class="row" style="margin-left: 40px; margin-top: 30px; margin-right: 40px;">
      
      <div class="column">
        
        <img src="{{ .Link }}">
        <h3>Everyday XKCD</h3>
      </div>



      <div class="column" >
        <div class="container">
          <h1 style="margin-left: 15px;">Articles:</h1>
            <div name="Articles" class="col-sm">
              <hr>
              {{range $i, $a := .Stuff}}
              <a href="/{{$i}}">  <!--the href should have the link to the blog article-->
                <div class="row" style="margin-top: 10px; margin-left: 5px;">
                  {{$a}}
                </div>
              </a>
                <hr>
              {{end}}

            </div>
        </div>
    </div>
    </div>
    <!-- dival JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>